# Midnight Network Configuration
NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_MIDNIGHT_INDEXER_URL=https://indexer.preprod.midnight.network/api/v1/graphql
NEXT_PUBLIC_MIDNIGHT_PROOF_SERVER_URL=http://localhost:6300
NEXT_PUBLIC_MIDNIGHT_NODE_URL=https://rpc.preprod.midnight.network

# VoxMidnight Governance Contract Address (Preprod)
NEXT_PUBLIC_CONTRACT_ADDRESS=020089aef41c5d983e2e50529d8137ba93d0c268c1387d894819dcf47343e8a49c
